@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --loupe-background: rgb(226 232 240);
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* overflow: hidden; */
}

:root::-webkit-scrollbar {
  display: none;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --loupe-background: rgb(9 9 11);
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
